.searchbox {
  left: 5px;
  background: white;
  position: absolute;
  z-index: 99;
  width: 98.6%;
  max-height: 200px;
  overflow-y: scroll;
}

.searchbox ul a {
  text-decoration: none;
}

.searchbox ul li {
  padding: 5px;
}

.searchbox ul li:hover, .searchbox ul li:hover>span {
  background: #0066a2;
  color: white;
}

.box-img {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.box-txt {
  font-size: 20px;
  padding-left: 10px;
  color: black;
}