.navitems
{
    display: flex;
    justify-content: flex-end;
}
.navitems li
{
    flex-basis: 18%;

}
.navitems li a{
    font-size: 19px;
    padding: 18px 25px;
    font-weight: 700;
}
.navitems li a:hover{
    background: white;
  
    color: #0066a2;
}


