.errspan {
    margin-left: -18px;
    color: #0000003d;
}

.search {
    width: 71%;
   
    border: none;
    padding: 6px 7px;
    outline: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .sr-wrapper {
        display: none;
    }
    
}
.serachInputContainer input {
    
}

@media (min-width: 320px) and (max-width: 480px) {
    .sr-wrapper {
        display: none;
    }
    
}