.errspan {
    margin-left: -18px;
    color: #0000003d;
}

.search {
    width: 70%;
    border-radius: 7px;
    border: none;
    padding: 6px 0;
    outline: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .sr-wrapper {
        display: none;
    }
    
}