.errspan {
    margin-left: -18px;
    color: #0000003d;
    cursor: pointer;
}

.search {
    width: 95%;
    border: none;
    padding: 6px 7px;
    outline: none;
}

.search-box-wrapper {
    position: relative;
}